* {
	margin: 0;
	/* border: 1px solid red; */
	font-family: "Karla";
	background-color: #1f2937;
}

.main-container-el {
	box-sizing: border-box;
	padding: 20px 10px;
	font-size: 34px;
	margin-left: 52px;
	margin-right: 52px;
}

h2 {
	color: white;
	font-weight: 800;
}

p {
	color: white;
	font-size: 22px;
	padding-top: 10px;
}

.green {
	color: #4adf86;
}

button {
	border: none;
	width: 191px;
	height: 42px;
	background-color: #4adf86;
	color: white;
	margin-top: 50px;
	border-radius: 10px;
	font-size: 18px;
}

button:active {
	transform: scale(0.95);
	background-color: #199747;
}

.passwords-container {
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

#options {
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	margin-top: 35px;
}

#options label {
	color: #4adf86;
}

#options input {
	background-color: white;
	font-size: 14px;
	color: #0e9343;
	font-weight: bold;
}

.line {
	height: 2px;
	width: 100%;
	background-color: #2f3e53;
	margin-top: 50px;
	margin-bottom: 35px;
}

#password1,
#password2 {
	width: 211px;
	height: 39px;
	background-color: #2f3e53;
	border-radius: 10px;
	color: #4adf86;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
}
